html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
  top:0;
}

/* P5 canvas */
main canvas{
  border:1px solid white;
  opacity: 0.5;
  /* visibility: hidden; */
}
button {
  position:absolute;
  left: calc(50vw - 30px);
  bottom:30px;
}